<footer id="footer" class="bg-dark dark">

  <div class="footer-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mb-5 mb-md-0 text-center text-md-left">
          <p class="mb-2"><span>Would you like to get my CV in PDF?</span></p>
          <a href="https://drive.google.com/file/d/1gmHufQA2JDtbEVUQnchpOO2vEVgnOf8z/view?usp=sharing" target="_blank"
            class="btn btn-primary btn-sm">Download CV</a>
        </div>
        <div class="spread-icons col-md-6 text-center text-md-right">
          <a href="https://www.linkedin.com/in/brugner/" target="_blank" class="icon icon-sm icon-white icon-hover"><i
              class="fa fa-linkedin"></i></a>
          <a href="https://stackoverflow.com/users/2774761/brugner" target="_blank"
            class="icon icon-sm icon-white icon-hover"><i class="fa fa-stack-overflow"></i></a>
          <a href="https://github.com/brugner" target="_blank" class="icon icon-sm icon-white icon-hover"><i
              class="fa fa-github"></i></a>
          <p class="text-muted mt-3 mb-0">{{year}} © Nery Brugnoni<br>
            Made with patience by me, based on <a
              href="https://themeforest.net/item/ja-advanced-personal-resume-cv-vcard-template/20482655" target="_blank"
              class="link-inherit">Ja</a>.</p>
        </div>
      </div>
    </div>
  </div>

</footer>