<section id="start" class="section section-double fullheight dark bg-dark">
  <div class="section-image col-md-6 bg-dark">
    <div class="bg-image-container">
      <img src="assets/img/covers/about-me.jpg" class="cover" alt="Cover image">
    </div>
  </div>
  <div class="section-content pos-v-center">
    <div class="container-wide">
      <div class="row align-items-center">
        <div class="col-md-5 push-md-7">
          <h1 class="display-2"><strong>Nery</strong><br>Brugnoni</h1>
          <h2>Software <strong>developer</strong></h2>
          <hr class="hr-lg">
          <p>It depends <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i
              class="fa fa-arrow-down"></i></p>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="about" class="section bg-dark dark">
  <div class="section-content">
    <div class="container-slim">
      <h1 class="mb-0">About me</h1>
      <hr class="sep-line ml-0">

      <div class="resume-box">
        <p class="lead text-lg text-justify">I'm a software developer from <span class="flag-icon flag-icon-ar"
            title="Argentina"></span> with 6 years of experience.
          I can deliver modern and scalable solutions to a cloud environment ready to fulfill your business needs. I'm
          mostly a <code>backend</code> dev but I can manage some frontend too.
          I also like writing about this and other stuff on my blog.</p>
      </div>

      <div class="resume-box image-edge row">
        <div class="col-12">
          <h5 class="mb-3">Skills &amp; Abilities</h5>

          <h6 class="mb-0">OOP</h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100">
              <span>85%</span>
            </div>
          </div>

          <h6 class="mt-4 mb-0">C# &amp; .NET</h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100">
              <span>75%</span>
            </div>
          </div>

          <h6 class="mt-4 mb-0">SQL</h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
              aria-valuemax="100">
              <span>65%</span>
            </div>
          </div>

          <h6 class="mt-4 mb-0">Angular</h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
              aria-valuemax="100">
              <span>40%</span>
            </div>
          </div>

          <h6 class="mt-4 mb-0">Azure</h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0"
              aria-valuemax="100">
              <span>35%</span>
            </div>
          </div>

          <p class="text-justify mt-5">
            Some things I know better than others but I'm constantly learning and trying to get along with current
            practices and technologies. Among my soft skills you can count with critical thinking, collaboration and
            self-motivation. I'm
            not a great communicator but, be sure I'll be giving my best. I'm currently working on all of this to become
            a Technical Lead.
          </p>
        </div>
      </div>

      <div class="resume-box image-edge text-center">
        <h2 class="mb-1">Experience</h2>
        <div class="row">
          <div class="col-12">
            <div class="timeline">
              <div class="timeline-event">
                <div class="timeline-event-point"></div>
                <div class="timeline-event-date">02.2020 - Present</div>
                <div class="timeline-event-content">
                  <h5 class="timeline-event-title">Senior .NET Developer</h5>
                  <span class="timeline-event-caption text-muted">Globant</span>
                </div>

                <div class="timeline-remarks mt-3">
                  <ul>
                    <li>Backend developer in an important project for one of the biggest financial clients.</li>
                    <li>Backend Focal Point of the team and in training to be a Technical Lead.</li>
                  </ul>
                </div>
              </div>

              <div class="timeline-event">
                <div class="timeline-event-point"></div>
                <div class="timeline-event-date">08.2015 - 01.2020</div>
                <div class="timeline-event-content">
                  <h5 class="timeline-event-title">Software Developer</h5>
                  <span class="timeline-event-caption text-muted">Oversoft</span>
                </div>

                <div class="timeline-remarks mt-3">
                  <ul>
                    <li>Responsible for the design and development of applications that communicate the main product
                      with systems and interfaces of automakers such as Volkswagen, Mercedes Benz, Toyota and IVECO.
                    </li>
                    <li>Development and implementation of new functionalities and bug fixing in the legacy products.
                    </li>
                    <li>Participation in the analysis design and development of the new flagship product implementing an
                      architecture based on microservices and Agile methodologies. Architecture team member.
                      Technologies used: NET Core API,
                      SQL Server, Redis, Elasticsearch, Entity Framework, Swagger, TFS and Git. In charge of the
                      branching policy, IIS deployments and the documentation blog.</li>
                    <li>Designer of a Windows Service that periodically sends information from 40 customers to Toyota
                      Argentina, using NET, SQL Server and AutoMapper.</li>
                    <li>Designer of a Windows Service and ASP.NET WCF services that hold a full-duplex communication
                      with Volkswagen AG. In charge of tech lifecycle from requirements to testing.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resume-box image-edge text-center">
        <h2 class="mb-1">Education</h2>
        <div class="row">
          <div class="col-12">
            <div class="timeline">
              <div class="timeline-event">
                <div class="timeline-event-point"></div>
                <div class="timeline-event-date">04.2015 - 11.2019</div>
                <div class="timeline-event-content">
                  <h5 class="timeline-event-title">Msc, Computer Science</h5>
                  <span class="timeline-event-caption text-muted">Universidad Nacional de Villa Maria</span>
                </div>

                <div class="timeline-remarks mt-3">
                  <ul>
                    <li>Thesis about a performance benchmark between SQL Server and MongoDB with focus on the domain and
                      data model.</li>
                    <li>Development of discrete and continuos processes simulators.</li>
                  </ul>
                </div>
              </div>

              <div class="timeline-event">
                <div class="timeline-event-point"></div>
                <div class="timeline-event-date">03.2011 - 04.2015</div>
                <div class="timeline-event-content">
                  <h5 class="timeline-event-title">Bs, Computer Systems Analyst</h5>
                  <span class="timeline-event-caption text-muted">Instituto Leibnitz</span>
                </div>

                <div class="timeline-remarks mt-3">
                  <ul>
                    <li>C#, Visual Studio & .NET environment. SQL Server. Object-oriented programming. Networking.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resume-box image-edge row">
        <div class="col-md-8">
          <h2 class="mb-3">Languages</h2>

          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li>
                  <span class="badge badge-success">Native</span> in <strong>Spanish </strong> <span
                    class="flag-icon flag-icon-es"></span>
                </li>
                <li>
                  <span class="badge badge-warning">Upper-intermediate</span> in <strong>English <span
                      class="flag-icon flag-icon-gb"></span></strong>
                </li>
              </ul>
              <p class="text-justify">
                Currently I'm studying to get the FIRST Cambridge certification.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="resume-box image-edge">
        <h2 class="mb-5">Hobbies &amp; Interests</h2>

        <div class="hobby">
          <div class="hobby-image">
            <div class="bg-image-container"><img src="assets/img/hobbies/tennis.jpg" alt=""></div>
          </div>
          <div class="hobby-image-hover">
            <div class="bg-image-container"><img src="assets/img/hobbies/tennis-hover.jpg" alt=""></div>
          </div>
          <div class="hobby-body">
            <div class="hobby-content">
              <h4 class="hobby-title">Tennis</h4>
              <span class="hobby-caption">Speed &amp; Violence</span>
            </div>
          </div>
        </div>

        <div class="hobby">
          <div class="hobby-image">
            <div class="bg-image-container"><img src="assets/img/hobbies/drums.jpg" alt=""></div>
          </div>
          <div class="hobby-image-hover">
            <div class="bg-image-container"><img src="assets/img/hobbies/drums-hover.jpg" alt=""></div>
          </div>
          <div class="hobby-body">
            <div class="hobby-content">
              <h4 class="hobby-title">Drums</h4>
              <span class="hobby-caption">Rythm &amp; Soul</span>
            </div>
          </div>
        </div>

        <div class="hobby">
          <div class="hobby-image">
            <div class="bg-image-container"><img src="assets/img/hobbies/chess.jpg" alt=""></div>
          </div>
          <div class="hobby-image-hover">
            <div class="bg-image-container"><img src="assets/img/hobbies/chess-hover.jpg" alt=""></div>
          </div>
          <div class="hobby-body">
            <div class="hobby-content">
              <h4 class="hobby-title">Chess</h4>
              <span class="hobby-caption">Dominance &amp; Punishment</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="section bg-dark dark">
  <div class="section-content">
    <div class="container-slim">
      <h1 class="mb-5">My Services</h1>
      <hr class="sep-line ml-0">

      <p class="text-justify">
        With more than five years of professional experience working as a software developer, I can deliver solid and
        modern solutions that will help you to accomplish your business vision.
        Even though I'm mainly a backend developer, I don't fear the technical challenges involved in learning new tools
        and technologies. That's why I'm ready to build web sites and apps too.
      </p>

      <div class="row">
        <div class="col-4 text-center">
          <h1 class="mb-0"><i class="fa fa-wrench"></i></h1>
          <h3 class="mb-0">Build</h3>
          <code>Let's create something great</code>
        </div>
        <div class="col-4 text-center">
          <h1 class="mb-0"><i class="fa fa-cogs"></i></h1>
          <h3 class="mb-0">Maintain</h3>
          <code>Let's keep it working smoothly</code>
        </div>
        <div class="col-4 text-center">
          <h1 class="mb-0"><i class="fa fa-bolt"></i></h1>
          <h3 class="mb-0">Refactor</h3>
          <code>Let's improve it flawlessly</code>
        </div>
      </div>

      <p class="text-justify mt-5">
        Want to find out more about my experience? You can check out my projects in my blog and download a copy of my
        resume.
      </p>
    </div>
  </div>
</section>

<section id="blog" class="section bg-dark dark">
  <div class="section-content">
    <div class="container">
      <h1 class="mb-5">Latest Posts</h1>
      <div class="row">
        <div *ngFor="let post of latestPosts" class="col-xl-4 col-sm-6 col-12">
          <article class="post item">
            <div class="post-image">
              <a routerLink="/blog/post/{{post.slug}}"><img src="{{post.thumbnail}}" alt=""></a>
            </div>
            <div class="post-content">
              <h4 class="post-title"><a routerLink="/blog/post/{{post.slug}}">{{ post.title }}</a></h4>
              <ul class="post-meta">
                <li>{{post.createdAt | timeAgo}}</li>
                <li *ngFor="let tag of post.tags"><a routerLink="/blog/tag/{{tag}}">#{{tag}}</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="text-center mt-3">
        <a routerLink="/blog" class="btn btn-outline-primary">Check out my blog</a>
      </div>
    </div>
  </div>

</section>

<section id="contact" class="section section-contact bg-dark dark">
  <div class="section-content">
    <div class="container-slim">
      <h1 class="mb-0">Contact</h1>
      <hr class="sep-line ml-0">
      <p class="text-justify">You can write me at <strong>nery.brugnoni@gmail.com </strong> or find me in <a
          href="https://www.linkedin.com/in/brugner/" target="_blank">LinkedIn</a></p>
    </div>
  </div>
</section>