<section class="section mt-5">
  <div class="section-content">
    <div class="container">
      <div class="col-md-4 offset-md-4">
        <form [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">
          <h1>Change Password
            <svg *ngIf="isLoading" class="loader" viewBox="0 0 28 28">
              <circle cx="14" cy="14" r="12" stroke-width="2"></circle>
            </svg>
          </h1>

          <div class="form-group">
            <label for="currentPwd">Current password</label>
            <input name="currentPwd" type="password" class="form-control" formControlName="currentPwd" [ngClass]="{ 'is-invalid': isSubmitted && currentPwd?.errors }" autocomplete="current-password" required>
            <div *ngIf="isSubmitted && currentPwd?.errors?.required">
              <span class="text-danger">Current password is required</span>
            </div>
          </div>

          <div class="form-group">
            <label for="newPwd">New password</label>
            <input name="newPwd" type="password" class="form-control" formControlName="newPwd" [ngClass]="{ 'is-invalid': isSubmitted && newPwd?.errors }" required minlength="6" maxlength="50">
            <div *ngIf="isSubmitted && newPwd?.errors?.required">
              <span class="text-danger">New password is required</span>
            </div>
          </div>

          <div class="form-group">
            <label for="repeatNewPwd">Repeat new password</label>
            <input name="repeatNewPwd" type="password" class="form-control" formControlName="repeatNewPwd" [ngClass]="{ 'is-invalid': isSubmitted && repeatNewPwd?.errors }" required minlength="6" maxlength="50">
            <div *ngIf="isSubmitted && repeatNewPwd?.errors?.required">
              <span class="text-danger">Repeat new password is required</span>
            </div>
            <div *ngIf="isSubmitted && repeatNewPwd?.errors?.notMatch">
              <span class="text-danger">Passwords don't match</span>
            </div>
          </div>

          <div class="form-group">
            <div *ngIf="error" class="text-danger">
              <span>{{ error }}</span>
            </div>
          </div>

          <div class="form-group form-submit">
            <button type="submit" [disabled]="isLoading || changePwdForm.invalid" class="btn btn-primary btn-block">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
