<section id="intro" class="section h-md dark dark bg-dark">
  <div class="bg-image-container">
    <img src="assets/img/covers/blog.jpg" alt="The background image: a black cat standing in a roof in a futuristic city" class="height-100" />
  </div>

  <div class="section-content pos-v-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 push-md-3">
          <h1>
            <span><strong>Bruner</strong>'s blog</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0 dark bg-dark min-fullheight">
  <div class="section-content">
    <div class="container">
      <div class="section-header animate__animated animate__fadeInLeft">
        <div class="section-header-content">
          <div class="text-justify animate__animated animate__fadeInLeft">
            <h1>Abandon hope all ye who enter here</h1>
            <p>
              Well maybe that was too much but still, I don't promise you anything. I write about whatever comes to my mind and this space to me is like a sandbox where I develop and test some concepts I have lying around here and there.
            </p>
            <span *ngIf="!isLoading">What would you like to see?</span>
          </div>

          <div *ngIf="!isLoading">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <button class="btn btn-link pointer" [ngClass]="{ 'text-primary': !selectedTag }" (click)="getPosts(null)">All</button>
              </li>
              <li *ngFor="let tag of allTags" class="nav-item">
                <button class="btn btn-link pointer" [ngClass]="{ 'text-primary': selectedTag === tag }" (click)="getPosts(tag)">#{{ tag }}</button>
              </li>
            </ul>

            <div *ngIf="isAuthenticated && !isLoading" class="mt-5">
              <div class="card">
                <div class="card-header">Editor's Zone</div>
                <div class="card-block">
                  <p class="card-text">
                    You can add as many new posts as you want. Let's go!
                  </p>
                  <a routerLink="/posts" class="btn btn-primary mr-3 mb-1"><i class="fa fa-book"></i>All posts</a>
                  <a routerLink="/posts/new" class="btn btn-outline-primary mb-1"><i class="fa fa-pencil-square-o"></i>Write a new post</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoading" class="row">
        <div *ngFor="let post of posts" class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
          <article class="post item">
            <div class="post-image">
              <a routerLink="/blog/post/{{ post.slug }}"><img src="{{ post.thumbnail }}" alt="" /></a>
            </div>
            <div class="post-content">
              <h4 class="post-title">
                <a routerLink="/blog/post/{{ post.slug }}">{{ post.title }}</a>
              </h4>

              <ul class="post-meta mb-0">
                <li>Published {{ post.createdAt | timeAgo }}</li>
              </ul>

              <span>{{ post.summary }}</span>

              <ul class="post-meta">
                <li *ngFor="let tag of post.tags">
                  <a routerLink="/blog/tag/{{ tag }}">#{{ tag }}</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>

      <div *ngIf="isLoading" class="row">
        <div class="col-12 text-center">
          <span>Loading..</span>
        </div>
      </div>
    </div>
  </div>
</section>
